}@font-face {
  font-family: 'Aniron';
  src: url('Aniron.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AnironC';
  src: url('AnironC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Tengwar Annatar';
  src: url('TengwarAnnatar-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aniron';
  src: url('AnironC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Party Business';
  src: url('PartyBusiness.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AnironC';
  src: url('AnironC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}



h1 {
  font-family: 'AnironC';
}

h2 {
  font-family: 'AnironC';
}

h3 {
  font-family: 'AnironC';
  font-size: 2,5em;
 
}

h4 {
  font-family: 'AnironC';
  font-size: 1,8em;
 
}

h5 {
  font-family: 'AnironC';
  font-size: 1,5em;

 
}

.contact {
  font-family: 'AnironC';
  font-size: 1,5em;
  color: #ff6600;
}

.symbol {
  font-family: 'Tengwar Annatar';
  color: #ff6600;
  font-size: 2vw;
}

body {
  font-family: 'Party Business';
  font-weight: 200;
  color:black;
  margin: 0px;
  font-size: 22px;
}

.lightbg {
  background-image: url("https://zupimages.net/up/18/09/buog.png");
  background-size: auto;
}

.darkbg {
  color: white;
  background-image: url("https://zupimages.net/up/14/14/9dmx.png");
  background-size: auto;
}

.nav-bg {
  background-color: #ff6600;
  color: white;
}
.navtitles {
  font-family: 'AnironC';
}

.largeTexte {
  font-family: 'Party Business';
  font-size: 6vw;
}

.mediumTexte {
  font-family: 'Party Business';
  font-size: 5vw;
}

.littleTexte {
  font-family: 'Party Business';
  font-size: 1,5em;
}

.section_padding {
  padding-top: 2%;
  padding-bottom: 5%;
}

.fellowcards_bg {
  background-color: #1A1A1A;
}

.text_card_fellows {
  color: rgb(133, 133, 133);
}

.textBlack {
  color: black;
}

.textWhite {
  color: white;
}

.img-fluid {
  max-width: 100%;
  height: auto;
} 

.carouselText {
  margin-bottom: 2%;
}

.titles {
  padding-top: 2%;
  padding-bottom: 2%;
}

.pills {
  padding: 1% 3% 1% 3%;
  margin: 2%;
} 

.active {
  background-color: #ff6600;
}
.roundedImage {
  border-radius: 5%; 
}

.aroundCard {
  margin-bottom: 2%;
}

.innerCard {
  margin-top: 5px;
}

.bigImage {
  margin: 2%;
}

.avatar1 {
  background: url(http://images.innoveduc.fr/integration_gandalf.png);
}

.avatar2 {
  background: url(https://zupimages.net/up/18/09/69j0.png);
}

.avatar3 {
  background: url(https://zupimages.net/up/18/09/913e.png);
}



.avatar {
  display:block;
  width: 95%;
  height: 350px;
  padding: 20px;
  text-align: center;
  
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
}

.avatar > * {
  position: relative;
  z-index: 10;
}

.avatar::after {
  content: "";
  display: block;
  background-color: rgba(82, 78, 78, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0px;
  margin: 0px;
  z-index: 0;
}

.avatar:hover .rewardAmount {
  visibility: hidden;
}

.avatar:hover .rewardTitle {
  font-size:30px;
  color:white;
  margin-top:65%;
}

.avatar:hover:after {
  display: none;
}

.rewardAmount {
  background-color:white;
  opacity: 0.8;
  font-size: 30px;
  padding: 10px 45x;
  margin: 0px;
  text-align-last: center;
  line-height: 1.3;
  box-shadow: 0 0 0.2em 0.2em white;
}

.dead {
  opacity: 0.8;
  font-size: 30px;
  padding: 10px 45x;
  margin: 0px;
  text-align-last: center;
  line-height: 1.3;
}

.rewardTitle {
  font-size:60px;
  color:white;
  margin-top:20%;
}

.border-rounded {
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.red {
  color: #ff6600
}

.titleFellows {
  display: inline;
}

.bestPaddingLeft {
  padding-left: 0px;
}

.circleImage {
  border-radius: 50%;
}

.footer {
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  background-color: #ff6600;
}




